[submodule "core/libraries/BlueAXI"]
	path = core/libraries/BlueAXI
	url = https://github.com/esa-tu-darmstadt/BlueAXI.git
[submodule "core/libraries/BlueLib"]
	path = core/libraries/BlueLib
	url = https://github.com/esa-tu-darmstadt/BlueLib.git
[submodule "tools/riscv-tests"]
	path = tools/riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests.git
[submodule "tools/embench/embench-iot"]
	path = tools/embench/embench-iot
	url = ../benchmarks/embench-iot
