[submodule "core/libraries/BlueAXI"]
	path = core/libraries/BlueAXI
	url = https://github.com/esa-tu-darmstadt/BlueAXI.git
[submodule "core/libraries/BlueLib"]
	path = core/libraries/BlueLib
	url = https://github.com/esa-tu-darmstadt/BlueLib.git
[submodule "tools/riscv-tests"]
	path = tools/riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests.git
[submodule "tools/embench/embench-iot"]
	path = tools/embench/embench-iot
	url = ../benchmarks/embench-iot
[submodule "tools/riscv-arch-tests/riscv-arch-test"]
	path = tools/riscv-arch-tests/riscv-arch-test
	url = https://github.com/riscv-non-isa/riscv-arch-test.git
[submodule "tools/riscv-dv"]
	path = tools/riscv-dv
	url = https://github.com/chipsalliance/riscv-dv
[submodule "tools/tapasco-integration/tapasco-riscv"]
	path = tools/tapasco-integration/tapasco-riscv
	url = https://github.com/esa-tu-darmstadt/tapasco-riscv
[submodule "core/libraries/BlueSRAM"]
	path = core/libraries/BlueSRAM
	url = git@gitlab.esa.informatik.tu-darmstadt.de:asic/bluesram.git
[submodule "tools/openlane_asic/caravelscoooterdexie"]
	path = tools/openlane_asic/caravelscoooterdexie
	url = git@gitlab.esa.informatik.tu-darmstadt.de:risc-v/SHMoDaCo/caravelscoooterdexie.git
